<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>
        {{title}}!
      </h1>
      <label>User Name</label>
        <input 
          type="text"
          class="form-control"
          [(ngModel)]="userName">
        <p>{{ userName }}</p>
        <button
          class="btn btn-primary"
          [disabled]="!userName"
          (click)="userName = ''">Reset User</button>
        <hr>
        <button 
          class="btn btn-primary" 
          (click)="onToggleDetails()">Toggle Details
        </button>
        <p *ngIf="showDetails">Super Secret</p>
        <div *ngFor="let logItem of log; let i = index">{{ logItem }}</div>

        <hr>
      <app-servers></app-servers>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>
